

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    min-height: 2000px;
    padding-top:20px;
}
h1 {
  text-align: center;
  background-color: 	 #4d94ff;
  padding-top: 40px;
  padding-bottom: 40px;

}
h4 {
  margin-top: 25px;
}

.nav nav-justified {
  padding-bottom: 50px;
  padding-top: 10px;
}
.navbar {
  text-align: center;
  padding-bottom: 10px;
}
.navbar-header{
  text-align: center;
}
.nav navbar-nav {
  text-align: center;
}
.form-group {
  
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}


.btn-primary {
  color: #ddd;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ce2f7b;
  border: 1px solid #211e1f;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-info {
  color: #ddd;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #337ab7;
  border: 1px solid #211e1f;
}



hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-group {
  margin-bottom: 15px;
}

.lead {

}
.img-thumbnail {
    display: inline-flex;
    max-width: 100%;
    height: auto;
    padding: 25px;
    padding-left: 50px;
    padding-right:75px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}


.container-fluid {
padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
